<div class="form-wrapper">
    <div class="container mt-4">
        <div class="d-flex justify-content-end">
            <button class="btn btn-primary" (click)="formPreview()">Form Preview</button>
        </div>
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-8">
                <form>
                    <div class="mb-3">
                        <label for="viewMode" class="form-label">UI Bindings</label>
                        <input type="text" class="form-control" name="viewMode" id="viewMode" [(ngModel)]="viewMode">
                    </div>
                    <div class="mb-3">
                        <label for="uiBindings" class="form-label">UI Bindings</label>
                        <textarea class="form-control" name="uiBindings" id="uiBindings" cols="80" rows="2" [(ngModel)]="uiBindings"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="customJson" class="form-label">Write your custom json for form</label>
                        <textarea class="form-control" name="customJson" id="customJson" cols="80" rows="10" [(ngModel)]="customJson"></textarea>
                    </div>
                </form>
                <button type="submit" class="btn btn-primary" (click)="formSubmit()">Submit</button>
            </div>
        </div>
    </div>
</div>

